
* {
    pad: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: black;
    color: white;
}

.links {
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.recipelink {
    background-color: gray;
    border: 10px solid white;
    padding: 20px;
    margin: 100px;
}

h2 {
    background-color: gray;
    color: black;
}

.hometitle {
    font-style: italic;
    text-align: center;
}

.description {
    text-align: center;
}